<div class="content">
  <div class="card-set">
    <h1>Together with our families</h1>
    <div class="names">
      <div class="name">
        Hari
      </div>
      <div class="sub">
        &
      </div>
      <div class="name">
        Akisha
      </div>
    </div>
    <h1>Invite you to celebrate our marriage on</h1>
    <h1>22<sup>nd</sup> february 2023</h1>
  </div>
  <div class="spacer"></div>
  <div class="card-set" (click)="openInMap()">
    <h1 class="u-c b">Location</h1>
    <img class="location-img" src="../assets/wedding-location.png" alt="">
    <h1>YMCA Community Hall, Vettuvenni</h1>
  </div>
</div>