<div class="content">
  <div class="bg-image ">
    <div class="heart x1"></div>
    <div class="heart x2"></div>
    <div class="heart x3"></div>
    <div class="heart x4"></div>
    <div class="heart x5"></div>
    <div class="altheart x5"></div>
  </div>


  <div class="card-set golden-bg">
    <img class="couple-image" src="../assets/couple.jpg" alt="">
  </div>
  <div class="spacer"></div>

  <div class="card-set golden-bg ">
    <h1>You are heartly invited to the wedding of</h1>
    <div class="names">
      <div class="name b">
        Hari
      </div>
      <div class="sub">
        &
      </div>
      <div class="name b">
        Akisha
      </div>
    </div>
    <h1>on 22<sup>nd</sup> february 2023</h1>
    <h1>Morning 9:30 AM - 10:30 AM</h1>
    <h1>YMCA Community Hall, Vettuvenni</h1>
    <img class="location-img" src="../assets/wedding_location_map.jpg" alt="" (click)="openInMap('wedding')"
      title="click to open in google map">

  </div>
  <div class="spacer"></div>


  <div class="card-set golden-bg">
    <h1 class="b">Reception</h1>
    <h1>22<sup>nd</sup> february 2023</h1>
    <h1>Evening 5:30 onwards</h1>
    <h1>Achalipuram Mahadevar Auditorium,</h1>
    <h1>Uthachikottai</h1>
    <img class="location-img" src="../assets/reception-location.jpg" alt="" (click)="openInMap('reception')"
      title="click to open in google map">

  </div>
</div>