<div class="content">
  <div class="bg-image ">
    <div class="heart x1"></div>
    <div class="heart x2"></div>
    <div class="heart x3"></div>
    <div class="heart x4"></div>
    <div class="heart x5"></div>
    <div class="altheart x5"></div>
  </div>


  <div class="card-set">
    <img class="couple-image" src="../assets/couple.jpg" alt="">
  </div>
  <div class="spacer"></div>

  <div class="card-set">
    <h1>Together with our families</h1>
    <div class="names">
      <div class="name b">
        Hari
      </div>
      <div class="sub">
        &
      </div>
      <div class="name b">
        Akisha
      </div>
    </div>
    <h1>Invite you to celebrate marriage on</h1>
    <h1>22<sup>nd</sup> february 2023</h1>
    <h1>Morning 9:30 AM - 10:30 AM</h1>
    <!-- <button>Add to calender</button> -->

    <!-- <div class="atcb" style="display:none;">
      <pre> {
      "name":"Event Title",
      "startDate":"2022-02-24",
      "endDate":"2022-02-28",
      "options":[
      // add/remove calendars here
      "Apple",
      "Google",
      "iCal",
      "Microsoft365",
      "Outlook.com",
      "Yahoo"
      ],
      "trigger":"click",
      }</pre>
    </div> -->
  </div>
  <div class="spacer"></div>
  <div class="card-set" (click)="openInMap('wedding')">
    <h1 class="u-c b">Wedding Venue</h1>
    <img class="location-img" src="../assets/wedding_location_map.jpg" alt="">
    <h1>YMCA Community Hall, Vettuvenni</h1>
  </div>
  <div class="spacer"></div>

  <div class="card-set" (click)="openInMap('reception')">
    <h1 class="b">Reception</h1>
    <h1>22<sup>nd</sup> february 2023</h1>
    <h1>Evening 5:30 onwards</h1>
    <h1>Achalipuram Mahadevar Auditorium,</h1>
    <h1>Uthachikottai</h1>
    <img class="location-img" src="../assets/reception-location.jpg" alt="">

  </div>
</div>